<a href="https://colab.research.google.com/github/Kellyouo/introduction-to-computer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result += i
    i += 1
print("0-50的基數和結果是%d" % result)

0-50的基數和結果是625

In [4]:
i = 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result += i
    i += 1
print("0-50的偶數和結果是%d" % result)

0-50的偶數和結果是650

In [6]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("*", end="")
    print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [7]:
sum = 0
for i in range(0, 101):
    if (i%3==0 or i%7==0):
        sum += i
print("數值1~100中，所有是 3 或 7 倍數的數之總和=",sum)

數值1~100中，所有是 3 或 7 倍數的數之總和= 2208

In [11]:
p = 1
counter = 0
n = int(input("請輸入正整數:"))
print(n,"的因數有", end=" ")
while (p<=n):
    if (n%p==0):
        print(p,end=" ")
        counter+=1
    p+=1

print()
if (counter==2):
    print(n,"是質數")
else:
    print(n,"不是質數")

請輸入正整數:3
3 的因數有 1 3
3 是質數

In [12]:
list1 = [1,2,3,4,5]

In [13]:
list1

[1, 2, 3, 4, 5]

In [14]:
list2 = ["香蕉","蘋果","橘子"]

In [15]:
list2

['香蕉', '蘋果', '橘子']

In [18]:
list3 = [1,"香蕉", True]

In [19]:
list3

[1, '香蕉', True]

In [20]:
print(list1)

[1, 2, 3, 4, 5]

In [21]:
print(list1[0])

1

In [23]:
print(list1[1])

2

In [24]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [25]:
list4 = ["香蕉","蘋果","橘子"]

In [26]:
print(list4[1])

蘋果

In [27]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [28]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [29]:
print(list5[1])

['mary', 'abcd']

In [30]:
print(list5[0])

[['tom', '1234']]

In [31]:
print(list5[1][1])

abcd

In [33]:
print(list5[0][0])

['tom', '1234']

In [34]:
scores = [85, 79, 93]
print('國文成績:%d分' % scores[0])
print('數學成績:%d分' % scores[1])
print('英文成績:%d分' % scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [37]:
list6 = [1,2,3,4,5]

In [38]:
print(list6[0])

1

In [39]:
list6[0] = 9

In [40]:
print(list6[0])

9

In [41]:
print(list6)

[9, 2, 3, 4, 5]

In [42]:
list7 = ["香蕉","蘋果","橘子"]

In [43]:
for s in list7:
    print(s, end=",")

香蕉,蘋果,橘子,

In [44]:
items = [123,"apple",True]
for item in items:
    print(item)

123
apple
True

In [45]:
score = [85,79,93]

In [46]:
print(len(scores))

3

In [47]:
scores = [85,79,93]
for i in range(len(scores)):
    print(score[i])

85
79
93

In [1]:
list10=["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(list10)):
  print(list10[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [2]:
list11=["編號:1 姓名:Tom","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for i in range(len(list11)):
  print(list11[i])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony